
    *{box-sizing: border-box
    }

    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
		position:fixed;
		top:0;
		width:100%;
       /* border-bottom: 2px solid;
        border-top:2px solid;*/
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #dd571c;
        color: white;
    }
    .topnav .search-container {
        float: right;
    }
    .topnav input[type=text] {
        width:auto;
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: 1px solid;   
    }
        .topnav .search-container button {
            float: right;
            padding: 6px 16px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: 1px solid;
            cursor: pointer;
            background-image: url(img/logo.jpg);
        }

    .topnav .search-container button:hover {
        background: #df5e27;
    }
    @media screen and (max-width: 600px) {
        .topnav .search-container {
            float: none;
        }
            .topnav a, .topnav input[type=text], .topnav .search-container button {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
            }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }

    .mySlides {
        display:inline-block;
        margin-top:55px;
        margin-bottom:15px;
        opacity:1;
        transition:.5s ease;
        backface-visibility:hidden;
    }
    .mySlides:hover{
        opacity:0.5;
    }
    img{
        vertical-align:middle;
    }
    /* Slideshow container */
    .slideshow-container {       
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: #717171;
    }
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .prev, .next, .text {
            font-size: 11px
        }
    }

    /*main-image-page*/
    section.main-image {
        height: fit-content;
        display:grid;
        background-color:#f0e8e0;
        grid-template-columns:auto auto;
        margin:auto;
        border-top: 2px solid;
        border-bottom: 2px solid;
        grid-gap:0px;
        justify-content:center;
        align-content:center;
    }
        section.main-image > div{
            align-content:center;
        }
    
    div.container-main{
        border: 0px;
        padding: 0px;
        margin: 0px;
        height: 80vh;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .japadog1{
        grid-area:auto;
        opacity:1;
        transition:.5s ease;
        backface-visibility:hidden;
    }
        .japadog1:hover {
            opacity:0.3;
        }

    img.main-img{
        border: 0px;
        padding: 0px;    
        height: 70vh;
        width: 750px;
    }

    .takoyaki1 {
        grid-area: auto;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
        .takoyaki1:hover{
            opacity:0.3;
        }

    div.menu-list{
        text-align: center;
        grid-area:auto;
        opacity:1;
        transition:.5s ease;
        backface-visibility:hidden;   
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f0e8e0;   
        height: 70vh;
        width: 500px;   
    }

        
    /*Menu-section*/
    #menu {
        align-items: center;
        text-align: center;
        height: fit-content;
        /*background-image:url("img/menu_bg.jpg");*/
        background-color: white;
        backface-visibility:hidden;
        box-sizing: border-box;
        font-weight:bold;
       /* border-bottom: 2px solid;*/
    }


        .menu-list .p1 {
            
            text-decoration: none;
            font-size: 20px;
            
        }
        .menu-list .menu {
            
            text-decoration: dashed;
            font-size: 25px;
        }
        .menu-list .p2 {
            
            text-decoration: none;
            font-size: 15px;
        }
        .menu-list .p3 {
            text-decoration: none;
            font-size: 13px;
        }
        .menu-list .p3:hover {
            background-color: #fffcf9;
            transition: 0.5s ease;
            border:2px solid;
        }

    #promotion {
        align-items: center;
        text-align: center;
        height: fit-content;
        box-sizing: border-box;
        border-bottom: 2px solid;
    }
        #promotion .promotion1 {
            background-color: #ffffff;
            font-weight:bold;
        }
        #promotion .promotion2 {
            background-color: #ffffff;
            font-weight:bold;
        }
    #pro1{
        opacity:1;
        transition:.7s ease;
        backface-visibility:hidden;
    }
        #pro1:hover{
            opacity:0.4;
        }
    #pro2{
        opacity:1;
        transition:.7s ease;
        backface-visibility:hidden;
    }
        #pro2:hover{
            opacity:0.4;
        }
        
    #about {
        align-items: center;
        text-align: center;
        height: 120vh;
        background-color: #e38210;
        box-sizing: border-box;
        border-bottom: 2px solid;
    }
        #about .explain_pics {
            grid-template-columns: auto auto auto auto auto;
            display: grid;
            margin: auto;
            grid-gap: 0px;
            justify-content: center;
            align-content: center;
            background-color:black;
        }
        #about .explain_text{
            text-align:center;
            font-size:20px;
            font-weight:bold;
            border-bottom:5px double;
        }

    #cook1{
        grid-area:auto;   
    }
    #cook2{
        grid-area:auto;
    }
    #cook3{
        grid-area: auto;
    }
    #cook4{
        grid-area: auto;
    }
    #cook5{
        grid-area: auto;
    }

    .address{
        margin:auto;
    }
    #addressPic{
        margin:auto;
        display: block;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        align-content:center;
    }
    #addressPic:hover{
        opacity:0.3;
    }

    #link{
        align-items: center;
        text-align: center;
        height: 30vh;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    #send{
        background-color:#ccc;
        color:#dd571c;
    }
        #send:hover {
            color: black;
            background-color: #df5e27;
        }

    #insta{
        margin:auto;
        align-content:center;
        display: block;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
        #insta:hover{
            opacity:0.4;
        }
